<div class="sidebar">
  <div class="row1">
    <div class="sidebarHeader">
      <div class="avatarContainer">
        <img src="../../assets/images/noPic.svg" />
      </div>
      <div class="actionsContainer">
        <img src="../../assets/images/chatIcon.svg" />
        <img src="../../assets/images/moreVertIcon.svg" />
      </div>
    </div>
    <div class="selectUser">
      <label>Choose User</label>
      <br>
      <select [ngModel]="sendData.user" (ngModelChange)="onChangeObj($event)">
        <option [ngValue]="i" *ngFor="let i of userObjects">{{i.label}}</option>
      </select>
    </div>
  </div>

  <div class="sidebarContent">
    <ng-container>
    <div
      class="conversation"
      *ngFor="
        let conversation of channelObjects
      "
      (click)="this.sendData.user.value === '' ? sendChannel({check : true}) : sendChannel(conversation)"
    >
      <div class="picture">
        <img src="../../assets/images/noPic.svg" />
      </div>
      <div class="content">
        <div class="conversationHeader">
          <div class="name">{{ conversation.label }}</div>
        </div>
      </div>
    </div>
  </ng-container>
  </div>
</div>
